/* From Uiverse.io by ammarsaa */
.registerSuccess {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Condensed", sans-serif;
  height: 100vh;
}
.registerSuccess p {
  font-size: 24px;
  font-weight: 600;
  color: #113311;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.registerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 10px;
  margin: 0;
}

#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  background-color: #113311;
  border: 1px solid #333;
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 1.5px;
}

.title {
  font-size: 32px;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: #90b58a;
}

.title::before {
  width: 18px;
  height: 18px;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #90b58a;
}

.message,
.signin {
  font-size: 20.5px;
  color: #90b58a;;
}

.signin {
  text-align: center;
}

.signin a:hover {
  text-decoration: underline royalblue;
}

.signin a {
  color: #00bfff;
}
#sign-in-login {
  color: #00bfff;
  font-weight: 600;
  cursor: pointer;
}

.flex {
  display: flex;
  width: 100%;
  gap: 30px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#form label {
  position: relative;
  font-size: 20px;
}

#form label .input {
  background-color: #333;
  color: #fff;
  width: 100%;
  padding: 20px 05px 05px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

#form label .input + span {
  color: rgba(255, 255, 255, 0.5);
  /* position: absolute; */
  left: 10px;
  top: 0px;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

#form label .input:placeholder-shown + span {
  top: 12.5px;
  font-size: 0.9em;
}

#form label .input:focus + span,
#form label .input:valid + span {
  color: #90b58a;
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}

.input {
  font-size: medium;;
}

.submit {
    border-radius: 16px;
    border: 1px solid transparent;
    padding: 0.6em 2em;
    margin: 5px;
    font-size: 17px;
    font-weight: 600;
    font-family: inherit;
    letter-spacing: 1px;
    background-color: #0051b6;
    color: white;
    cursor: pointer;
    transition: border-color 0.25s;
    width: 100%;
}

.submit:hover {
  background-color: #00bfff96;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}
