.singleStadium-card-image {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #113311;
  border-radius: 5px;
/*   border: 5px solid #8d620f; */
}
.stadiumDetails h2 {
  font-size: 3em;
  letter-spacing: 4px;
  padding: 8px;
  text-align: center;
  color: #113311;
  font-family: "Roboto Condensed", sans-serif;
  margin: 0;
  margin-top: 50px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
.stadiumDetails h3 {
  font-size: 2em;
  letter-spacing: 2px;
  padding: 8px;
  text-align: center;
  color: #113311;
  font-family: "Roboto Condensed", sans-serif;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.insideStadium-image {
  max-width: 1000px;
  width:100%;
  height: 650px;
  object-fit: cover;
  border-radius: 5px;
}

.stadium-facts {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  color: #113311;
  font-size: 1.5em;
  letter-spacing: 2px;
  font-family: "Roboto Condensed", sans-serif;
  padding: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.vl {
  border-right: 1px solid;
  border-radius: 75%;
  height: 40px;
}
.average-rating-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #113311;
  font-size: 2em;
  letter-spacing: 2px;
  width: 100%;
  font-family: "Roboto Condensed", sans-serif;
  padding: 5px;
  font-weight: 900;
  margin-bottom: 2em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.single-page-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: #113311;
  font-size: 1.5em;
  letter-spacing: 2px;
  font-family: "Roboto Condensed", sans-serif;
  padding: 5px;
}
.visited-success-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  width: 500px;
  height: 320px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #dde7dd;
  font-size: 2em;
  font-family: "Roboto Condensed", sans-serif;
  padding: 5px;
  background-color: #8d620f;
  border: 1px solid whitesmoke;
  border-radius: 16px;
  box-shadow: 4px 2px #634407;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);

}
#successButton {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: fit-content;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

}
.nearby-list-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: #113311;
  font-size: 2.5em;
  font-family: "Roboto Condensed", sans-serif;
  padding: 5px;
  margin-bottom: 1em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.nearby-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 30px;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: left;
  color: #113311;
  font-family: "Roboto Condensed", sans-serif;
  padding: 5px;
  margin-bottom: 10em;
  
}
.nearby-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 420px;
  align-items: left;
  color: #113311;
  font-size: 1.5em;
  font-family: "Roboto Condensed", sans-serif;
  padding: 10px;
  border: 5px solid #113311;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);

}
.line-across {
  width: 90%;
  height: 5px;
  margin-bottom: 3em;
  border-radius: 75%;
}
.line-across-reviews {
  width: 100%;
  height: 5px;
  border-radius: 80%;
}
.reviews-section {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  color: #113311;
  margin-bottom: 10em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

}
.reviews-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  letter-spacing: 1.5px;
  color: #113311;
  font-size: 1.3em;
  font-family: "Roboto Condensed", sans-serif;
  padding: 10px;
  gap: 40px;
  width: 40%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  @media screen and (max-width: 768px) {
    width: 100%;
  }
}
#user-review-name {
  font-weight: 900;
  font-size: 1.2em;
}
.review {
  display: flex;
  flex-direction: column;
  text-align: left;
  max-width: 1000px;
  max-height: 500px;
  gap: 10px;
}
.review p {
  margin: 0;
}
#reply-button {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: fit-content;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

body{
  overflow:auto;
  width:100vw;
}
.review-form {
  position: absolute;
  top: 25%;
  left: calc(max(50vw - 250px, 0px));
  max-width: 500px;
  width:100vw;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-between;
  align-items: left;
  color: #dde7dd;
  font-size: 1em;
  font-family: "Roboto Condensed", sans-serif;
  padding: 5px;
  background-color: #8d620f;
  gap: 10px;
  border-radius: 16px;
  margin: 0;
  border: 1px solid whitesmoke;
  box-shadow: 3px 1px #634407;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

  p {
    margin: 0;
    padding: 0;
    color: #dde7dd;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.1em;
  }
  label {
    font-weight: 900;
  }
}
.rating-scale {
  display: flex;
  flex-direction: column;
  color: #dde7dd;
  font-size: 0.7em;
  font-family: "Roboto Condensed", sans-serif;
  padding: 5px;
}
#rating {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: #113311;
  font-size: 1em;
  font-family: "Roboto Condensed", sans-serif;
  width: 20%;
  cursor: pointer;
}
#comment {
  border-radius: 5px;
  border: 1px solid #0051b6;
  padding-top: 0;
  padding-left: 0;
  padding: 0 0 100px 0;
  line-height: 2em;
  text-indent: 5px;
  font-family: "Roboto Condensed", sans-serif;
  display: flex;
}
#review-label {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
}
.individualReviews {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
  color: #113311;
  font-size: 1.3em;
  font-family: "Roboto Condensed", sans-serif;
  padding: 5px;
}

.img-upload {
  max-width: 250px;
  height: auto;
}

.review-image {
  width: 300px;
}
#back-button {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Condensed", sans-serif;
}
.single-review-reply-container {
  width: 100%;
}
.single-review-reply {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: #113311;
  font-size: 1em;
  font-family: "Roboto Condensed", sans-serif;
  padding: 20px;
}
#reply-input {
  width: 50%;
  height: 100px;
  border-radius: 5px;
  border: 1px solid #0051b6;
}
#reply-input-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  color: #113311;
  font-size: 1em;
  font-family: "Roboto Condensed", sans-serif;
  padding: 5px;
}
