
.navbar-container {
  position: static;
}
.navbar-items {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10px 20px;
  color: white;
  gap: 40px;
  font-size: 1.4em;
  letter-spacing: 1.3px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin-top: 20px;
  margin-left: 10px;
  a {
    color: #113311;
    text-decoration: none;
    transition: color 0.25s;
  }
}
.navbar-items a:hover {
  color: #0051b6;
}

button {
  border-radius: 16px;
  border: 1px solid transparent;
  padding: 0.6em 2em;
  margin: 5px;
  font-size: 17px;
  font-weight: 500;
  font-family: inherit;
  letter-spacing: 1px;
  background-color: #0051b6;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
  background-color: #009aff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
