
.navbar-container {
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: #8d620f;
  width: 100%;
  padding: 0;
  /* display: flex; */
  /* align-items: center; */
  margin: 0;
}
.navbar-items {
  display: flex; 
  flex-direction: row; 
  align-items: center;
  width: 100%;
  color: white;
  gap: 40px;
  font-size: 1.2em;
  letter-spacing: 1.3px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  margin-left: 10px;
  z-index: 1;
  a {
    margin: 0;
    color: white;
    text-decoration: none;
    transition: color 0.25s;
  }
}
.navbar-items a:hover {
  color: #0051b6;
}

button {
  border-radius: 16px;
  border: 1px solid transparent;
  padding: 0.6em 2em;
  margin: 5px;
  font-size: 17px;
  font-weight: 500;
  font-family: inherit;
  letter-spacing: 1px;
  background-color: #0051b6;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
  background-color: #009aff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.full-access-message {
  font-size: 1.2em;
  font-weight: 600;
  color: #113311;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

