/* Account Page */
.account-page-wrapper {
  /* padding: 10px; */
  color: #113311;
  font-family: "Roboto Condensed", sans-serif;
  h2 {
    font-size: 2.5em;
    margin-bottom: 0;
  }
  h3 {
    font-size: 1.5em;
    margin-top: 0;
  }
}
body {
  background-color: whitesmoke;
  margin: 0;
  padding-top: 30px;
}
#noStadiumsButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.section-header {
  font-size: 1.8em;
  font-family: "Roboto Condensed", sans-serif;
  color: whitesmoke;
  text-align: center;
  /* margin-bottom: 20px; */
  letter-spacing: 1px;
  background-color: #113311;
  padding: 20px;
  width: 100%;
  h3 {
    margin: 0;
  }
}
.accountWelcomeMessage {
  padding-top: 20px;
}
.visited-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-template-rows: auto;
  gap: 10px;
  justify-items: center;
  padding: 20px;
}
.visited-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  border: 2px solid #113311;
  border-radius: 16px;
  padding: 16px;
  margin: 10px;
  width: 250px;
  height: 250px;;
  font-family: "Roboto Condensed", sans-serif;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  position: relative;
  & > * {
    z-index: 2;
  }
  img {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.3;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
  }
}
.visited-cards h2 {
  margin-top: 0;
  font-size: 1.6em;
  letter-spacing: 2px;
  padding: 8px;
}
.visited-cards p {
  font-size: 1.2em;
  letter-spacing: 1.5px;
  font-weight: 800;
}
.visited-cards:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 24px rgba(0, 0, 0, 0.2);
}
.visited-cards button {
  border-radius: 16px;
  border: 1px solid transparent;
  padding: 0.6em 2em;
  margin: 5px;
  font-size: 14px;
  width: fit-content;
  font-weight: 500;
  font-family: inherit;
  letter-spacing: 1px;
  background-color: #0051b6;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
  align-self: center;
}
.visited-cards button:hover {
  border-color: #646cff;
  background-color: #009aff;
}
.table-wrapper{
  width:100%;
  overflow-x: scroll;
  table{
    min-width: 1000px;
  }
}
.reviews-table {
  width: 100%;
  padding: 10px;
  border-spacing: 1rem;
  text-align: center;
  font-size: 1.4em;
  letter-spacing: 1.5px;
  color: #113311;
  padding: 20px;
}
.table-headers {
  font-size: 1.7em;
  font-weight: bold;
  text-align: center;
  height: 70px;
  letter-spacing: 2px;
}
th {
  border-bottom: 2px solid #113311;
}
th{
  padding: 10px;
}
.comments-table {
  width: 100%;
  padding: 10px;
  border-spacing: 1rem;
  text-align: center;
  font-size: 1.4em;
  letter-spacing: 1.5px;
  color: #113311;
  padding: 20px;
}

.edit-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.edit-form {
  /* position: absolute; */
  z-index: 1000;
  padding: 20px;
  border-radius: 16px;
  /* top: 0;
  left: 0; */
  width: 380px;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
  /* opacity: 1; */
  text-align: left;
  background-color: #8d620f;
  border: 1px solid #113311;
  animation: pop-in 0.5s cubic-bezier(0.68, -0.55, 0.65, 0.52) forwards;
  textarea {
    width: 100%;
    height: 100px;
    margin-top: 10px;
    border-radius: 8px;
    font-size: 1em;
    border: 1.5px solid #90b58a;
    padding: 2px;
  }
  input {
    width: 25%;
    margin-top: 10px;
    border-radius: 8px;
    font-size: 1em;
    border: 1.5px solid #90b58a;
  }
  h4 {
    font-size: 1.2em;
    margin: 0;
    text-align: center;
  }
  p {
    font-size: 1em;
    margin: 0;
  }
}
.edit-form-buttons {
  display: flex;
  justify-content: space-around;
}



